<!DOCTYPE html>

<html lang="en-AU">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Diets </title>
        <link rel="stylesheet" href="./styles/navbar.css">
        <link rel="stylesheet" href="./styles/article.css">
        <script type="text/javascript" src="./js/navbar.js"></script>
        <!-- <link rel="shortcut icon" type="image/png" href="./img/favicon.png"/> -->
    </head>

    <body>

        <!-- Navigation Bar -->
        <ul class="navbar" id="navbar">
            <a style="font-size:15px;" class="icon" onclick="ExpandMobileMenu()">&#9776;</a>
            <li><a href="/home">Lifeclock</a></li>
            <li><a href="/social">Social</a></li>
            <li class="dropdown">
                <a class="dropbtn active" onclick=ExpandSubMenu()>Articles</a>
                <div id="dropdown-content" class="dropdown-content">
                    <a href="/workouts">Workouts</a>
                    <a href="/diets">Diets</a>
                    <a href="/health">Health</a>
                </div>
            </li>
            <li><a href="/goals">Goals</a></li>
            <li class="right" ><a href="/login">Logout</a></li>
        </ul>

        <h1> Diets </h1>
        <!-- Article list -->
        <div class= "article">
          <p><a href="https://www.healthline.com/nutrition/10-proven-benefits-of-kale"> 10 Health Benefits of Kale</a></p>
          <img src="./images/kale.jpg" alt="kale" class="img1">
        </div>
        <div class="article">
          <p><a href="https://www.livestrong.com/article/435966-juice-extraction-vs-eating-whole-fruits/"> Juice Extraction vs Whole Fruits</a></p>
          <img src="./images/fruits.jpg" alt="fruits" class="img2">
        </div>
        <div class="article">
          <p><a href="https://www.webmd.com/fitness-exercise/features/food-to-fuel-your-workout#1"> Food to fuel your workouts</a></p>
          <img src="./images/fruitfuel.jpg" alt="fuel" class="img3">
        </div>
        <br>
    </body>


</html>
