<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./styles/radialring.css">
    <link rel="stylesheet" href="./styles/navbar.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.0/d3.js"></script>
    <script src="./js/index.js"></script>
    <script type="text/javascript" src="./js/navbar.js"></script>
</head>
    <body>

       <!-- Navigation Bar -->
        <ul class="navbar" id="navbar">
            <a style="font-size:15px;" class="icon" onclick="ExpandMobileMenu()">&#9776;</a>
            <li><a href="/home">Lifeclock</a></li>
            <li><a href="/social">Social</a></li>
            <li class="dropdown">
                <a class="dropbtn" onclick=ExpandSubMenu()>Articles</a>
                <div id="dropdown-content" class="dropdown-content">
                    <a href="/workouts">Workouts</a>
                    <a href="/diets">Diets</a>
                    <a href="/health">Health</a>
                </div>
            </li>
            <li class="active" ><a href="/goals">Goals</a></li>
            <li class="right" ><a href="/login">Logout</a></li>
        </ul>


        <div class="container">
            <div class="a chart"></div>
            <div class="b chart"></div>
            <div class="c chart"></div>
            <div class="d chart"></div>
            <div class="e chart"></div>
            <div class="f chart"></div>
        </div>
        
        <button class="button" onclick="location.href='/addnewgoal';">Add New Goal</button>
        
         
        <script>

            var chart = [".a",".b",".c",".d",".e",".f"];

            <% for(var i=0; i< user.goals.length; i++) {%>
                var text =  "<%=user.goals[i].name%>" + " of " +  "<%=user.goals[i].target%>" ;
                new RadialProgressChart(".a", {
                    diameter: 200,
                    max:<%=user.goals[i].target%>,
                    round: true,
                    series: [
                        {
                            labelStart: '\uF105',
                            value: <%=user.goals[i].goalProgress%>,
                            color: {
                                linearGradient: { x1: '0%', y1: '100%', x2: '50%', y2: '0%', spreadMethod: 'pad' },
                                stops: [
                                    {offset: '0%', 'stop-color': '#fe08b5', 'stop-opacity': 1},
                                    {offset: '100%', 'stop-color': '#ff1410', 'stop-opacity': 1}
                                ]}
                        }
                    ],
                    center: {
                        content: [function (value) {
                            return value
                        }, text],
                        y: 25
                    }
                });

            <% }; %>


        </script>

</body>

</html>
