<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./styles/signup.css">
</head>
<body>

  <h1>Sign Up</h1>

  <div class="details">
      Enter your details into the fields.
    </div>

  <div class="flex-container">
    <div class="flex-element">
  <form action="/signup" method="post" class="form">
    <p>Name</p>
    <input type="text" name="fullName" class="input" required>
    <p>Email</p>
    <input type="text" name="email" class="input" required >
    <p>Password</p>
    <input type="password" name="password" class="input" required>
    </div>
    <div class="flex-element">
    <p>Date of Birth</p>
    <input type="date" name="date" class="input"  required>
    <p>Smoking</p>
    <select name="smoking">
      <option disabled selected value>Smoking Frequency</option>
      <option value="0">Never</option>
      <option value="5">A pack every few weeks</option>
      <option value="10">A pack or more a week</option>
    </select>
    <p>Height(cm)</p>
    <input type="number" name="height" class="input" min="1" required>
      <p>Weight(kg)</p>
      <input type="number" name="weight" class="input" min="1" required>
    </div>
    <div class="flex-element">
    <p>Sleep</p>
    <select name="sleep">
      <option disabled selected value>Sleep Frequency</option>
      <option value="0">6+ hours a day</option>
      <option value="3">Less than 6 hours a day</option>
    </select>
    <p>Alchohol</p>
    <select name="alcohol">
      <option disabled selected value>Drink frequency</option>
      <option value="0">Less than 6.5 drinks a week</option>
      <option value="0.5">6.5 to 12.5 drinks a week</option>
      <option value="2">12.5 to 22 drinks a week </option>
      <option value="5">More than 22 drinks a week </option>
    </select>
    <br>
    <input  type="submit" value="Done" class="button"></input>
  </form>
</div>
</div>
  <br>
</body>
</html>
