<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Death Timer</title>
    <script src="timer.js"></script>
    <link rel="stylesheet" type="text/css" href="Comingsoon.css">
</head>
<body>
<div class="bgimg">
    <div class="middle">
        <h1>Coming Soon!</h1>
        <p class="middlebody">Calculate how many years you may have left to live.</p>
        <hr>
        <p id="timer"></p>
    </div>
    <div class="middlebody">
    </div>
    <div class="bottomleft">
        <p>Team Tam Production { Eric Sciberras, Doan Minh Trung Nguyen, Zachary Voo }</p>
    </div>
</div>
</body>
</html>
