@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC|Concert+One');

body{

}

html{
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 18px;
    text-align: center;
    color: black;
}

.article {
  display grid;
  overflow: auto;
}

img{
    vertical-align:top;
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}

a{
  text-decoration: none;
}
a:link, a:visited{
    color:black;
}

h1{
  font-family: 'Bowlby One SC', cursive;
  font-size: 60px;
}

div{
  font-family: 'Concert One', cursive;
  font-size: 25px;
}
