body{
    background-color:lightblue;
    margin: 0;
}

html{
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 16px;
    text-align: center;
    color: white;
}

/* navbar properties */
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; /*Navbar colour*/
}

.navbar a{
    color: white;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar .right{
    float: right;
}

.navbar li {
    float: left;
}

/* Dropdown menu in navbar */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
    text-align: left;
}

/* navbar behaviour */
li a:hover, .dropdown:hover .dropbtn {
    background-color: darkgrey; /*hover colour*/
}

.dropdown:hover .dropdown-content {
    display: block;
}