@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC|Concert+One|Permanent+Marker');

body{
    background-image: url('../images/health.jpg');
    background-color: rgb(247,247,247);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: right;
    margin: 0;
}

html{
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 16px;
    text-align: center;
    color: black;
}

.articleone {
  text-align: left;
  padding-left: 60px;
  overflow: auto;
}

.articletwo {
  text-align: left;
  padding-left: 60px;
  overflow: auto;
}

.articlethree {
  text-align: left;
  padding-left: 60px;
  overflow: auto;
}

img{
    float: left;
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}

a{
  text-decoration: none;
}

h1{
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
}

div{
  font-family: 'Concert One', cursive;
  font-size: 20px;
}
