@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Oswald');
html, body { height: 100%; width: 100%; margin: 0; color: black; font-family: 'Bungee Inline', cursive;}

h1{
    width: 35%;
    margin-left: 5%;
    margin-right: 5%;
    display: inline-block;
}

.container{
    height: 60%;
    width: 35%;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.list{
    height: 100%;
    list-style: none;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
    background-color: rgba(150, 150, 150, 0.5);
    border: 2px solid #ccc;
    overflow-y: scroll;
}

.friend {
    padding: 15px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
}



button{
    background-color: rgb(100,200,100);
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    float:right;
    margin-right: 8px;
    font-family: 'Bungee Inline', cursive;
    font-size: 12px;
    color: black;
}

.delete{
    background-color: rgb(200,100,100);
}

.form{
    width: 35%;
    margin-right: auto;
    margin-left: 9.5%;
}

.input{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display:block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: auto;
    display: inline-block;
}
.add{
    margin-top:10px;
}

.like {
    background-color: rgb(139, 0, 0);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}




